.questionaire-container{
    /*margin-left: 50%;*/
    /*margin-left: auto;*/
    /*margin-right: auto;*/
    margin-left: 15%;
}

.pageClass-toolkit {
    background-image: url("../../public/Assets/Background/Picture1.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    display: flex;
    flex-direction: column;
}

.questionaire-footer {
    margin-left: 15%
}

