.contentBox {
    position: relative;
    width: auto;
    border: 1px solid;
    border-radius: 5px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-self: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    max-width: 55%;
    box-shadow: 0px 2px 4px #4E4E4E;
    filter: blur();
    background-color: transparent;
    color: rgba(0, 0, 0, 1);
}

.contentBox::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ffffff;
    opacity: 0.7;
    border-radius: 5px;
    z-index: -1;
}


.contentName {
    margin-top: 30px;
    font-size: 50px;
    font-family: 'UniversHeaders';
    text-shadow: 1px 3px 2px grey;
}

.emptyLine {
    background-color: #4E4E4E;
    height: 1px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 0px 2px 4px #4E4E4E;
    
}

.emptyLine-title {
    background-color: #4E4E4E;
    height: 1px;
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 0px 2px 4px #4E4E4E;
    margin-top: 20px;
    margin-bottom: 20px;
}

.contentText {
    position: relative;
    margin-top: 5%;
    margin-left: 5%;
    margin-right: 5%;
    text-align: left;
    height: 127px;
    font-size: 20px;
    font-family: 'UniversHeaders';
}

.contentText-inner {
    position: relative;
    font-family: 'Univers'; 
    margin-top: 15px;
    font-size: 18px;
}

.mainText {
    position: relative;
    margin-top: 2%;
    font-size: 20px;
    margin-left: 5%;
    margin-right: 5%;
    text-align: left;
    height: 127px;
    font-family: 'UniversHeaders';
}

.mainText-inner {
    position: relative;
    margin-top: 15px;
    font-size: 18px;
    font-family: 'Univers';
}

.additionalContent {
    position: relative;
    margin-top: 1%;
    margin-left: -1vh;
    margin-right: -1vh;
    text-align: left;
    height: 150px;
    background-color: #FDF1E6;
    border: 100px #F9D9BA;
    
}

@media (min-width: 1921px){
    .additionalContent {
        margin-left: -10px;
        margin-right: -10px;
    }
}

.additionalContent-inner {
    position: relative;
    font-size: 20px;
    text-align: center;
    margin-top: 15px;
    font-family: 'UniversHeaders';
}
.additionalContent-inner-text {
    position: relative;
    text-align: left;
    margin-top: 1%;
    margin-right: 6%;
    margin-left: 6%;
    font-size: 18px;
    font-family: 'Univers';
}

.checkboxContent {
    position: relative;
    margin-top: 2%;
    margin-bottom: -2%;
}

.preadditionalText {
    position: relative;
    margin-top: 28%;
    margin-left: 5%;
    margin-right: 5%;
    text-align: left;
    height: 127px;
    font-size: 20px;
    font-family: 'UniversHeaders';
}

.preadditionalText-inner {
    position: relative;
    font-family: 'Univers'; 
    margin-top: 15px;
    font-size: 18px;
}
