.header-bar {
    display: flex;
    position: fixed;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    padding-left: 2px;
    padding-top: 2px;
    padding-right: 1%;
    top: 0;
    background-color: #1F2229;
    height: 58px;
    color: #FFFFFF;
    z-index: 1;
}

.logo-container{
    
}

.logo {
    max-height: 49px;
    width: auto;
}