span {
    max-width: 5px;
    margin-right: 5px;

}
a {
    text-decoration: none;
    color: white;
}

.navbar {
    background-color: #1F2229;
    height: 100%;
    position: fixed;
    width: 269px;
    display: flex;
    justify-content: center;
    color: #FFFFFF;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.3);
}

.about-div {
    width: 214px;
    height: 108px;
    display: flex;
}

.line-div {
    width: 220px;
    margin-right: 25px;
    background-color: #A5A5A5;
    margin-left: 20px;
}

.navbar-footer {
    position: absolute;
    bottom: 0;
    margin-left: 10%;
    height: 50px;
    background-color: #1F2229;
    display: flex;
    color: #FFFFFF;
    left: 0;
    font-family: 'UniversHeaders', serif;
    font-size: 28px;
    margin-bottom: 5%;
}

.additional-div {
    display: flex;
    justify-content: flex-start;
}

.items-list {
    flex-direction: column;
    margin-left: 5%;
}

.item {
    display: flex;
    justify-content: left;
    padding: 10px;
}