.navbar {
    background-color: #1F2229;
    height: 100vh;
    position: absolute;
    width: 269px;
    display: flex;
    color: #FFFFFF;
    text-align: center;
}

.about-div {
    padding: 0 0 0 0px;
    height: 26px;
    font-size: 22px;
}

.cbl-div {
    font-size: 22px;
    height: 26px;
    padding: 0 0 0 20px;
    margin-bottom: 45px;
}

.line-div {
    display: flex;
    width: 220px;
    background-color: #A5A5A5;
    height: 1px;
    margin-left: 20px;
}