.navbar-span {
    max-width: 5px;
    margin-right: 5px;

}
a {
    text-decoration: none;
    color: white;
}

.emptyLine-asd {
    height: 2px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    margin-bottom: 10px;
    width: 80%;
    background-color: white;
    /*z-index: 1;*/
}

.navbar {
    background-color: #1F2229;
    height: 100%;
    position: fixed;
    width: 269px;
    display: flex;
    justify-content: center;
    color: #FFFFFF;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.3);
}

.about-div {
    width: 214px;
    height: 70px;
    display: flex;
    font-family: UniversBold;
    font-size: 30px;
    margin-top: 30px;
    margin-left: 25px;
}


.line-div {
    width: 220px;
    margin-right: 25px;
    background-color: #A5A5A5;
    margin-left: 20px;
}

.navbar-footer {
    position: absolute;
    bottom: 0;
    /*margin-left: 10%;*/
    height: 100px;
    width: 90%;
    background-color: #1F2229;
    display: flex;
    /*color: #FFFFFF;*/

    left: 0;
    /*font-family: 'UniversHeaders', serif;*/
    /*font-size: 28px;*/
    /*margin-bottom: 5%;*/
}

.additional-div {
    display: flex;
    justify-content: flex-start;
}

.items-list {
    flex-direction: column;
    margin-left: 5%;
}

.item {
    display: flex;
    justify-content: left;
    padding: 10px;
}
