.emptyLine-question-component {
    background-color: #4E4E4E;
    height: 1px;
    width: 663px;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 0px 2px 4px #4E4E4E;
    /*margin-top: 2%;*/
}

.content-box-question-container {
    position: relative;
    width: auto;
    border: 1px solid;
    border-radius: 5px;
    padding-left: 3%;
    padding-right: 3%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-self: center;
    margin-left: auto;
    margin-right: auto;
    /* margin-top: 50px; */
    /*max-width: 55%;*/
    box-shadow: 0px 2px 4px #4E4E4E;
    filter: blur();
    background-color: rgba(255, 255, 255, 0.8);
    color: rgba(0, 0, 0, 1);
    max-width: 771px;
}

.subquestion {
    font-family: "Univers";
    font-size: 26px;
    height: 18px;
}

.header-row {
    /*margin: 2%;*/
    text-align: center;
    width: 100%;
    /*height: 18px;*/
    /*height: 22px;*/
}

.header-row-question {
    width: 100%;
    height: 80px;
    /*margin: 5%;*/
}

.header-title {
    font-family: "UniversHeaders";
    font-size: 48px;
    margin-top: 5%;
    margin-bottom: 1%;
}

.question-container {
    display: flex;
    flex-direction: column;
    flex: 4;
    /*margin-top: 5%;*/
    margin-bottom: 5%;
    justify-content: left;
    align-items: center;
}

.content-box-question {
    /*position: relative;*/
    /*text-align: center;*/
    width: 663px;
    justify-content: inherit;
    align-items: inherit;
    font-size: 18px;
    /*width: 80%;*/
    border: 1px solid;
    border-radius: 5px;
    padding: 1%;
    display: flex;
    min-height: 80px;
    /*flex-direction: column;*/

    margin: 12.5px;
    /*margin-left: auto;*/
    /*margin-right: auto;*/
    /* margin-top: 50px; */
    /*min-width: 100%;*/
    box-shadow: 0px 2px 4px #4E4E4E;
    filter: blur();
    background-color: transparent;
    color: rgba(0, 0, 0, 1);
}

.content-box-question.selected {
    background-color: #e0f7fa;
    border-color: #00796b;
    font-weight: bold;
}

.number-container {
    display: flex;
    width: 100%;
    align-items: center;
}

.number-box {
    display: flex;
    justify-content: flex-end;
    width: 100%;
    height: 123px;
    font-family: "UniversHeaders";
    color: #B6B6B6;
    font-size: 80px;
    justify-self: right;
    margin-left: auto;
    margin-right: 5%;
    margin-bottom: 0;
    text-align: center;
}