.html, .body, #root {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}
.App {
  text-align: center;  
  /* background: url("../public/Assets/Background/Picture2.png") no-repeat center center fixed;  */
  font-family: 'Univers', sans-serif;
}

@media (min-width: 1921px) {
  .App {
    /* background: url("../public/Assets/Background/Picture2.png"); */
    background-size: cover;
  } 
}

@media (max-width: 1024px){
  .App {
    /* background: url("../public/Assets/Background/Picture2.png"); */
  }
}

@font-face {
  font-family: 'UniversHeaders';
  src: url(../public/Assets/font/Linotype_Univers_620_Bold_Condensed_d9ea7654280f13fbebc7f6dfe06.ttf) format('truetype');
  font-weight: normal;
  font-style: normal;
  color: black;
}

@font-face {
  font-family: 'Univers';
  src: url(../public/Assets/font/Linotype_Univers_330_Light_229790e6f7c56ae5de7a50a0e9404f0a2abb.ttf);
}

@font-face {
  font-family: 'UniversBold';
  src: url(../public/Assets/font/Linotype_Univers_620_Bold_Condensed_d9ea7654280f13fbebc7f6dfe06.ttf);
  font-weight: normal;
  font-style: normal;
  color: #000000;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.footer {
  height: 80px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  display: flex;
}